@using MailRoom.Model;
@model MailRoom.Model.Dashboard
@{
    ViewData["Title"] = "Dashboard";
}
<script>

    var dashboardData =  @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
</script>
<div class="container-fluid row">
    <div class="col-xs-12 dashBoardContent">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <h5>OVERALL PROGRESS</h5>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="row">
                            <div id="overallVerificationRequiredContainer" class="col-xs-12 col-sm-4 col-lg-4 dashboardRow">
                                <script type="text/javascript">
                                    loadChartsInDashboard('1', dashboardData, $(window).height())
                                </script>
                            </div>
                            <div id="overallRollBackContainer" class="col-xs-12 col-sm-4 col-lg-4 dashboardRow">
                                <script>
                                    loadChartsInDashboard('2', dashboardData, $(window).height())
                                </script>
                            </div>
                            <div id="overallOptionalVerificationContainer" class="col-xs-12 col-sm-4 col-lg-4 dashboardRow">
                                <script>
                                    loadChartsInDashboard('3', dashboardData, $(window).height())
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h6>CMS 1500</h6>
                    </div>

                    <div class="col-xs-12 col-lg-12">
                        <div class="row container-fluid">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-right:35px;" 
                                 onclick="location.href='@Url.Action("FullList", "Home", new { @claimType ="CMS", @reviewerId ="reviewerid1", @reviewStauts = 0  } )'">
                                @*
                                    <script>
                                        loadChartsInDashboard('4', dashboardData, $(window).height())
                                    </script>*@
                                <div class="row container-fluid" style="cursor:pointer;border-radius:10px;background-color: #F0F0F0;">
                                    <div class="col-lg-12 centerAlignmentForText" style="color: #484b4f;font:Segoe UI;font-size:14px;font-weight:bold;">
                                        Verification Required
                                    </div>
                                    <div class="col-lg-12" style="padding-bottom:-10px;">
                                        <h1 class="centerAlignmentForText">@Model.ClaimsCMS100["TODO"]</h1>
                                    </div>
                                    <div class="col-lg-12" style="padding-bottom:-10px;">
                                        <h5 class="centerAlignmentForText">Total @Model.TotalClaimsCountByCMS1500PerDay are assigned today.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-right:25px;padding-left:25px;"
                                  onclick="location.href='@Url.Action("FullList", "Home", new { @claimType ="CMS", @reviewerId ="reviewerid1", @reviewStatus = 2  } )'">
                                @*
                                    <script>
                                        loadChartsInDashboard('5', dashboardData, $(window).height())
                                    </script>*@
                                <div class="row container-fluid" style="border-radius:10px;background-color: #F0F0F0;">
                                    <div class="col-lg-12 centerAlignmentForText" style="color: #484b4f;font:Segoe UI;font-size:14px;font-weight:bold;">
                                        Roll Back
                                    </div>
                                    <div class="col-lg-12">
                                        <h1 class="centerAlignmentForText">@Model.ClaimsCMS100["ROLLBACK"]</h1>
                                    </div>
                                    <div class="col-lg-12">
                                        <h5 class="centerAlignmentForText">Total @Model.TotalClaimsCountByCMS1500PerDay are assigned today.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-left:35px;"
                                  onclick="location.href='@Url.Action("FullList", "Home", new { @claimType ="CMS", @reviewerId ="reviewerid1", @reviewStatus =1  } )'">
                                @*
                                    <script>
                                        loadChartsInDashboard('6', dashboardData, $(window).height())
                                    </script>*@
                                <div class="row container-fluid" style="border-radius:10px;background-color: #F0F0F0;">
                                    <div class="col-lg-12 centerAlignmentForText" style="color: #484b4f;font:Segoe UI;font-size:14px;font-weight:bold;">
                                        Optional Verification
                                    </div>
                                    <div class="col-lg-12">
                                        <h1 class="centerAlignmentForText">@Model.ClaimsCMS100["COMPLETED"]</h1>
                                    </div>
                                    <div class="col-lg-12">
                                        <h5 class="centerAlignmentForText">Total @Model.TotalClaimsCountByCMS1500PerDay are assigned today.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h6>UB-04</h6>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="row container-fluid">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-right:35px;">
                                @*
                                    <script>
                                        loadChartsInDashboard('7', dashboardData, $(window).height())
                                    </script>*@
                                <div class="row container-fluid" style="border-radius:10px;background-color: #F0F0F0;">
                                    <div class="col-lg-12 centerAlignmentForText" style="color: #484b4f;font:Segoe UI;font-size:14px;font-weight:bold;">
                                        Verification Required
                                    </div>
                                    <div class="col-lg-12">
                                        <h1 class="centerAlignmentForText">@Model.ClaimsUB04["TODO"]</h1>
                                    </div>
                                    <div class="col-lg-12">
                                        <h5 class="centerAlignmentForText">Total @Model.TotalClaimsCountByUB04PerDay are assigned today.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-right:25px;padding-left:25px;">
                                @*
                                    <script>
                                        loadChartsInDashboard('8', dashboardData, $(window).height())
                                    </script>*@
                                <div class="row container-fluid" style="border-radius:10px;background-color: #F0F0F0;">
                                    <div class="col-lg-12 centerAlignmentForText" style="color: #484b4f;font:Segoe UI;font-size:14px;font-weight:bold;">
                                        Roll Back
                                    </div>
                                    <div class="col-lg-12">
                                        <h1 class="centerAlignmentForText">@Model.ClaimsUB04["ROLLBACK"]</h1>
                                    </div>
                                    <div class="col-lg-12">
                                        <h5 class="centerAlignmentForText">Total @Model.TotalClaimsCountByUB04PerDay are assigned today.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-left:35px;">
                                @*
                                    <script>
                                        loadChartsInDashboard('9', dashboardData, $(window).height())
                                    </script>*@
                                <div class="row container-fluid" style="border-radius:10px;background-color: #F0F0F0;">
                                    <div class="col-lg-12 centerAlignmentForText" style="color: #484b4f;font:Segoe UI;font-size:14px;font-weight:bold;">
                                        Optional Verification
                                    </div>
                                    <div class="col-lg-12">
                                        <h1 class="centerAlignmentForText">@Model.ClaimsUB04["COMPLETED"]</h1>
                                    </div>
                                    <div class="col-lg-12">
                                        <h5 class="centerAlignmentForText">Total @Model.TotalClaimsCountByUB04PerDay are assigned today.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h6>DENTAL CLAIMS</h6>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="row container-fluid">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-right:35px;">
                                @*
                                    <script>
                                        loadChartsInDashboard('10', dashboardData, $(window).height())
                                    </script>*@
                                <div class="row container-fluid" style="border-radius:10px;background-color: #F0F0F0;">
                                    <div class="col-lg-12 centerAlignmentForText" style="color: #484b4f;font:Segoe UI;font-size:14px;font-weight:bold;">
                                        Verification Required
                                    </div>
                                    <div class="col-lg-12">
                                        <h1 class="centerAlignmentForText">@Model.ClaimsPK83["TODO"]</h1>
                                    </div>
                                    <div class="col-lg-12">
                                        <h5 class="centerAlignmentForText">Total @Model.TotalClaimsCountByPK83PerDay are assigned today.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-right:25px;padding-left:25px;">
                                @*
                                    <script>
                                        loadChartsInDashboard('11', dashboardData, $(window).height())
                                    </script>*@
                                <div class="row container-fluid" style="border-radius:10px;background-color: #F0F0F0;">
                                    <div class="col-lg-12 centerAlignmentForText" style="color: #484b4f;font:Segoe UI;font-size:14px;font-weight:bold;">
                                        Roll Back
                                    </div>
                                    <div class="col-lg-12">
                                        <h1 class="centerAlignmentForText">@Model.ClaimsPK83["ROLLBACK"]</h1>
                                    </div>
                                    <div class="col-lg-12">
                                        <h5 class="centerAlignmentForText">Total @Model.TotalClaimsCountByPK83PerDay are assigned today.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-left:35px;">
                                @*
                                    <script>
                                        loadChartsInDashboard('12', dashboardData, $(window).height())
                                    </script>*@
                                <div class="row container-fluid" style="border-radius:10px;background-color: #F0F0F0;">
                                    <div class="col-lg-12 centerAlignmentForText" style="color: #484b4f;font:Segoe UI;font-size:14px;font-weight:bold;">
                                        Optional Verification
                                    </div>
                                    <div class="col-lg-12">
                                        <h1 class="centerAlignmentForText">@Model.ClaimsPK83["COMPLETED"]</h1>
                                    </div>
                                    <div class="col-lg-12">
                                        <h5 class="centerAlignmentForText">Total @Model.TotalClaimsCountByPK83PerDay are assigned today.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-xs-12">
                        <h6 class="centerAlignmentForText">MY PERFORMANCE</h6>
                    </div>

                    <div id="allocatedVsCompletedContainer" class="col-xs-12 metricChartRow">
                        <script>
                            loadChartsInDashboard('13', dashboardData, $(window).height())
                        </script>
                    </div>

                    <div class="col-xs-12">
                        <h4 class="centerAlignmentForText">Important Links</h4>
                    </div>
                    <div class="col-xs-12">
                        <div id="importantLinksContainer" class="col-xs-12 metricLinkRow" style="border-radius:10px;background-color:#F0F0F0;height:100%;">
                            <br />https://www.unitedstateszipcodes.org/
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>