@using MailRoom.Model;
@model IList<MailRoom.Model.GenericClaim>
<!-- TODO: This grid is very specific to CMS1500? -->

@{
    ViewData["Title"] = "About";
}

@{
    var format = "dd-MM-yyyy"; // your datetime format
    //var dateTimeConverter = new Newtonsoft.Json.Converters.IsoDateTimeConverter { DateTimeFormat = format };
   // var claimList = Newtonsoft.Json.JsonConvert
        //.DeserializeObject<List<ClaimEntity>>("[{\"PatientId\":403264,\"ClaimId\":7918,\"ColumnsToVerify\":5,\"ConfidenceScore\":90,\"SubmissionDate\":\"25-11-2018\",\"ExtractedDate\":\"27-11-2018\"},{\"PatientId\":403265,\"ClaimId\":7919,\"ColumnsToVerify\":6,\"ConfidenceScore\":80,\"SubmissionDate\":\"24-11-2018\",\"ExtractedDate\":\"27-11-2018\"},{\"PatientId\":403266,\"ClaimId\":7920,\"ColumnsToVerify\":2,\"ConfidenceScore\":75,\"SubmissionDate\":\"23-11-2018\",\"ExtractedDate\":\"27-11-2018\"},{\"PatientId\":403267,\"ClaimId\":7921,\"ColumnsToVerify\":1,\"ConfidenceScore\":82,\"SubmissionDate\":\"22-11-2018\",\"ExtractedDate\":\"27-11-2018\"},{\"PatientId\":403268,\"ClaimId\":7922,\"ColumnsToVerify\":7,\"ConfidenceScore\":83,\"SubmissionDate\":\"21-11-2018\",\"ExtractedDate\":\"27-11-2018\"}]", dateTimeConverter);
}
<div class="container-fluid">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <h2>Verification Required</h2>
            </div>
            <div class="col-sm-12 col-md-3">
                <input type="text" id="searchField" placeholder=" Search Claim ID" style="margin-top:20px;height:30px;border-radius:8px;border-width:thin;" />
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-sm-12 col-md-3" style="margin-top:20px;text-align:right">
                <a href='javascript:location.reload()' style="cursor:pointer" title="Refresh">
                    <img src="~/images/RefreshIcon.png" style="height:20px;width:20px;" />
                </a>
            </div>
        </div>
        <div class="row">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Claim Id</th>
                        <th>Payer Name</th>

                        <th>Confidence Score</th>
                        <th>Review Status</th>
                        <th>Parser Status</th>
                        <th>Created Date</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claimItem in Model)
                    {
                        <tr>
                            <td>@claimItem.ClaimId</td>
                            <td>@claimItem.PayerName </td>
                            <td>@claimItem.ConfidenceScore </td>
                            <td>@claimItem.ReviewStatus</td>
                            <td>@claimItem.ParserStatus</td>
                            <td>@claimItem.CreatedDate </td>
                        </tr>
                    }
                </tbody>
            </table>
            <script>
                var table = $('#example').DataTable({ "dom": 'rt<"bottom"ip><"clear">' });
                table.column(0).every(function () {
                    var that = this;
                    $('#searchField').on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>
